:root {
    --gray: rgb(69, 68, 78);
}

body {
    background-color: var(--gray) /*rgb(69, 68, 78);*/
}

header h1 {
    color: hotpink;
}

header p {
    color: white;
}


main {
    display: flex;
    flex-wrap: wrap;
}

section {
    display: flex;
    color: hotpink;
}


.box {
    display:inline;
    margin: 1%;
    border-style: dashed;
    border-color: white;
}

pre {
    /*background-color: purple; */
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
        );
    color: white;
    margin: 5%;
}

.box p {
    margin: 5%;
}

.box h2 {
    position:relative;
    margin: 2%;
    margin-top: -20px;
    border-style: solid;
    border-color: white;
    text-indent: 5%;
    width: 95%;
    background-color: var(--gray);
}